@model IEnumerable<MVC5_Week1.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="">
    <p class="row clearfix ">
        <div class="pull-right col-xs-3">
            <div class="input-group">
                <input type="search" name="search" class="form-control" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">搜尋</button>
                </span>
            </div>
        </div>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success pull-left" })
    </p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width:8%;">
                    @Html.ActionLink(Html.DisplayNameFor(model => model.客戶名稱).ToHtmlString(), "Index", new { sortOrder = ViewBag.NameSortParm })
                    <span class="sign"></span>
                </th>
                <th style="width:12%;">
                    @Html.DisplayNameFor(model => model.統一編號)
                    <span class="sign"></span>
                </th>
                <th style="width:12%;">
                    @Html.DisplayNameFor(model => model.電話)
                    <span class="sign"></span>
                </th>
                <th style="width:10%;">
                    @Html.DisplayNameFor(model => model.傳真)
                    <span class="sign"></span>
                </th>
                <th style="width:20%;">
                    @Html.DisplayNameFor(model => model.地址)
                    <span class="sign"></span>
                </th>
                <th style="width:10%;">
                    @Html.DisplayNameFor(model => model.Email)
                    <span class="sign"></span>
                </th>
                <th style="width:8%;">
                    @Html.ActionLink(Html.DisplayNameFor(model => model.isDelete).ToHtmlString(), "Index", new { sortOrder = ViewBag.DeleteSortParm })
                    <span class="sign"></span>
                </th>
                <th style="width:20%;"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isDelete)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</form>
